@page
@model ToDo.Web.Pages.Notes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.startDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.endDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.endDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.done)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Note.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
